@import "../mixins.scss";

// Home Page

.feature .fe-box .section-p1 .pro {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
  margin: 15px 0;
}
.des h4,
.hero button {
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
.des h4,
.feature .fe-box h6,
.hero button,
.hero h1 {
  color: #088178;
}
.pro a i svg,
svg:hover {
  fill: #088178;
}
button.normal,
button.white {
  font-family: Poppins, sans-serif;
  outline: 0;
  cursor: pointer;
}
.banner3 h2,
.banner3 h3,
.sm-banner h2,
.sm-banner span,
button.white {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.hero button,
.news-letter {
  background-repeat: no-repeat;
}
.feature .fe-box,
.hero button,
.news-letter button,
.section-p1 .pro-container .pro,
button.normal,
button.white,
footer .follow svg,
ul {
  cursor: pointer;
}
.banner-box:hover button.white,
footer .install .row img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
.feature .fe-box,
footer .Copyright {
  text-align: center;
}
.feature,
.navbar,
footer .follow .icons,
h6,
ul {
  display: flex;
  align-items: center;
}
.navbar {
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  background-color: #f0f8f8;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  z-index: 999;
}
.menu,
.mobile {
  display: none;
}
ul {
  gap: 30px;
  padding-right: 90px;
  font-weight: 600;
  transition: 0.9s ease-in-out;
}
.about:hover,
.blog:hover,
.contact:hover,
.home:hover,
.shop:hover,
li.active {
  color: #088178;
  position: relative;
  transition: 0.7s;
}
li.active::after,
li:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 0;
}
li.active:hover::after {
  width: 100%;
  right: 0;
}
.transition-page {
  transition: 0.5s;
  background-color: #f3efdb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  background-image: url("../../images/hero4.webp");
  background-size: cover;
  background-position: top 25% right 0;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero h4 {
  padding-bottom: 15px;
}
.hero button {
  background-image: url("../../images/button.webp");
  background-color: transparent;
  border: 0;
  padding: 14px 80px;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
.feature {
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature .fe-box {
  width: 180px;
  padding: 25px 15px;
  border-radius: 4px;
  transition: 0.5s;
  padding: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.hero.open {
  left: -300px;
}

.feature .fe-box:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.section-p1 .pro:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px,
    rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px,
    rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}
.feature .fe-box h6 {
  padding: 9px 8px 6px;
  border-radius: 4px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}
.feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
.section-p1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 8px;
  position: relative;
}
.section-p1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.section-p1 .pro img {
  width: 100%;
  border-radius: 10px;
}
.section-p1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
.section-p1 .pro span {
  color: #606063;
  font-size: 12px;
}
.section-p1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.section-p1 .pro .des svg {
  fill: rgb(180, 177, 177);
}
.des h4 {
  padding-top: 7px;
}
.pro a {
  display: flex;
  justify-content: center;
}
.banner,
.sm-banner .banner-box {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  display: flex;
}
.pro a i {
  background-color: #e8f6e8;
  display: flex;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.pro:hover a i {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}
.pro a:hover i svg {
  fill: #161b1b;
}
.pro a i svg {
  margin: 10px;
}
.banner {
  justify-content: center;
  align-items: center;
  background-image: url("../../images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
}
.banner h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  font-weight: 600;
}
.banner h2 span {
  color: #ff3838;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: none;
}
button.normal:hover {
  background: #088178;
  color: #fff;
}
.sm-banner {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.sm-banner .banner-box {
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../images/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.sm-banner h4 {
  color: #640808;
  font-size: 20px;
  font-weight: 300;
}
.sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #fff;
}
.banner-box:hover button.white {
  background-color: #088178;
  border: none;
}
.banner-box.box2 {
  background-image: url("../../images/banner/b10.jpg");
}
.banner-box.box2 h4 {
  color: #fff;
}
.banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30px;
}
.banner3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 80px;
  margin-top: 30px;
  flex-direction: row;
  gap: 30px;
}
.banner3 .banner-box {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.img1 {
  background-image: url("../../images/banner/b7.jpg");
}
.img2 {
  background-image: url("../../images/banner/b4.jpg");
}
.img3 {
  background-image: url("../../images/banner/b18.jpg");
}
.banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
.banner3 h3 {
  color: #e8f6e8;
  font-weight: 800;
  font-size: 15px;
}
.news-letter {
  display: flex;
  justify-content: space-between;
  background-image: url("../../images/banner/b14.png");
  background-position: 20% 30%;
  background-color: #0a102e;
  padding: 40px 80px;
  align-items: center;
  width: 100%;
}
.news-letter div {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-start;
  width: 100%;
}
.news-letter div:nth-child(2) {
  align-items: flex-end;
}
.news-letter h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 0;
}
.news-letter p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.news-letter p span {
  color: #ffbd27;
}
.news-letter input {
  height: 2.125rem;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  outline: 0;
  padding: 0 10px;
  flex: 1;
}
.news-letter form {
  display: flex;
  width: 80%;
  align-items: center;
}
footer,
footer .col {
  flex-direction: column;
  display: flex;
}
.news-letter button {
  background-color: #088178;
  color: #fff;
  height: 2.125rem;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 10px;
  text-align: center;
}
footer {
  justify-content: space-between;
  position: relative;
}
footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
footer .col {
  align-items: flex-start;
  margin-bottom: 20px;
  width: auto;
}
footer .col .logo {
  width: 200px;
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer .col p {
  margin: 0 0 8px;
  font-size: 13px;
}
footer .col ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  padding: 0;
  list-style: none;
}
footer ul li a {
  color: #4c5050;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
}
footer .follow h4 {
  text-align: left;
}
footer .follow svg {
  fill: #465b52;
  padding-right: 4px;
}
footer .follow i:hover svg {
  font-size: 50px;
}
footer .follow .facebook:hover svg {
  fill: blue;
}
footer .follow .twitter:hover svg {
  fill: rgb(0, 68, 255);
}
footer .follow .instagram:hover svg {
  fill: rgb(158, 95, 12);
}
footer .follow .pinterest:hover svg {
  fill: rgb(107, 15, 9);
}
footer .follow .youtube:hover svg {
  fill: rgb(184, 16, 10);
}
footer a:hover {
  color: #088178;
  font-size: 20px;
}
footer .install .row img {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  cursor: pointer;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px;
}

@media (min-width: 320px) and (max-width:1238px) {
    .modal-section .section-p1 {
      display: flex;
      flex-direction: column;
      height: 450px;
      overflow-y: visible;
      overflow-x: hidden;
    }
}


// Shopping Page

.page-header {
  background-image: url("../../images/banner/b1.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.page-header h2,
.page-header p {
  color: #fff;
}

.pagination {
  text-align: center;
}

.pagination a {
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
}

.pagination a:hover {
  padding: 25px 30px;
}

.pagination * {
  color: #fff;
  font-weight: 600;
}

.pagination a svg {
  fill: #fff;
}

// Modals

.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.5s;
  transition: background-color 0.3s ease-in-out;
}

.modal-section .modal-content {
  max-width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
}

.modal-content .section-p1 img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modal-content .section-p1 .single-pro-image {
  width: 100%;
  margin-right: 50px;
}

.modal-content .section-p1 .single-pro-details{
  width: 100%;
}

.modal-content .section-p1 .small-img-group {
  display: flex;
  justify-content: space-between;
}

.modal-content .small-img-group .small-img-col {
  gap: 10px;
 flex-basis: 24%;
  cursor: pointer;
}

.modal-content .small-img-group .small-img-col img {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modal-content .section-p1 {
  display: flex;
  padding: 20px;
  align-items: flex-start;
}

.modal-content .section-p1 h6 {
   color: #161b1b;
   font-weight: 500;
}

.modal-content .section-p1 h4 {
  padding: 30px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
}
.modal-content .section-p1 h2 {
  font-size: 26px;
  font-weight: 500;
}
.modal-content .section-p1 select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modal-content .section-p1 input {
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  overflow: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}

.modal-content .section-p1 button {
  width: fit-content;
  height: 30px;
  border: none;
  background-color: #088178;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  color: #cce7d0;
  font-weight: 700;

}

.modal-content .section-p1 button:hover{
   padding: 0 30px 0 30px;
   cursor: pointer;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} 

.modal-content .section-p1 button svg {
  fill: #fff;
}

.modal-content .section-p1 span {
  font-size: 13px;
  color: #363535;
  line-height: 25px;
}

.modal-content .section-p1 i {
  cursor: pointer;
  padding: 20px;
  color: #161b1b;
  position: absolute;
  right: 0;
  top: 0;

}

.modal-content .section-p1 i:hover svg {
    font-size: 30px;
    background-color: #088178;
    width: 30px;
    height: 30px;
    fill: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.grid-container {
 display: flex;
}

.blog-header {
  background-image: url("../../images/banner/b19.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.blog-section {
  padding: 100px;
}

.blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  position: relative;
  padding-bottom: 90px;
}

.blog-box .blog-img {
  width: 50%;
}

.blog-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease-in-out;
}

.blog-img img:hover {
  transform: scale(1.05);
}


.blog-box .blog-details {
  width: 50%;
}

.blog-box a {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.blog-box a::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.9s ease;
}

.blog-box a:hover {
  color: #088178;
  font-size: 16px;
}

.blog-box a:hover::after {
  background-color: #088178;
  transform: scaleX(1);
}

.blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -1;
}



@media (min-width: 320px) and (max-width:1238px) {
  .modal-section .modal-content .section-p1 {
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-x: hidden;
    overflow-y: visible;
  }
}



@media (max-width: 810px) {
@include iPAD;
}

@media (max-width: 598px) {
@include Tablet;
}

@media (max-width: 412px) {
@include SamsungGalaxy;
}
@media (max-width: 319px) {
@include SmallMobile;
}

@media (max-width: 422px) {
@include RealMeC15;
}








